.project {
  background: #121212;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .cards {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-cards {
    padding: auto;
  }

  .cards {
    margin: 40px 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .mobile-cards {
    display: flex;
    flex-direction: column;
    padding: 0 180px;
  }
  .cards {
    margin: 40px 0;
  }
}
