.project {
  background: #121212;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .cards {
    margin: 20px 0;
  }
}
