.home {
  background: url("../../asset/images/z.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 200px 0 0 200px;
}

.welcome {
  width: 42%;
  background: linear-gradient(to right, #523ca2, #c07d19);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 6px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .home {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .mobile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200%;
  }

  .welcome {
    width: 65%;
    font-weight: 700;
  }

  .img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .welcome {
    font-weight: 700;
  }

  .img {
    margin-top: 50px;
    margin-left: 70px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .welcome {
    font-weight: 700;
  }

  .img {
    margin-top: 50px;
    margin-left: 70px;
  }
}
