.skill {
  background: url("../../asset/images/2.jpg");
  background-size: cover;
  background-position: top center;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

.box {
  background: url("../../asset/images/skill.jpg");
  background-size: cover;
  background-position: bottom center;
  border-radius: 100px;
  width: 80%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
  margin-top: -25px;
}

.skill-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
