nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  transition: 0.32s ease-in-out;
  z-index: 1;
}

nav.navbar.scrolled {
  padding: 6px;
  background-color: #121212;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 25px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

.navbar-link {
  letter-spacing: 0.8px;
  padding: 0 25px;
  opacity: 1;
}

#quit,
#mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-navbar {
    display: inline-block;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #121212;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  .mobile-navbar.active {
    right: -20px;
  }

  .navbar-link.nav-link {
    line-height: 50px;
  }

  #mobile {
    display: flex;
    margin-right: 80px;
  }

  #quit {
    display: flex;
    position: absolute;
    top: 35px;
    left: 15px;
  }
}
